/* Basic tools */
html body {
  background-color: #f3f0f0;
  font-family: "Montserrat", sans-serif;
}

header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 2rem;
  background-color: #e2dfdf;
}

.basic-button {
  background-color: #6fc5fe;
  border: none;
  border-radius: 8px;
  height: 3rem;
  width: 10rem;
  color: white;
}
.check {
  background-color: blue;
}
.vertical-center {
  margin-top: 7.5%;
}
/* Navbar */
.jamesn-icon {
  width: 80px;
  height: 80px;
  opacity: 95%;
}

.jamesn-icon:hover {
  opacity: 100%;
}

.navbar-item {
  color: #7a7a7a;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
}

.navbar-item:hover {
  color: black;
  opacity: 100%;
}

/* About */
.container-bg {
  background-color: #f3f0f0;
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40);
  opacity: 100%;
}

#tool-box {
  height: 85px;
  background-color: #6fc5fe;
  border-radius: 8px;
  max-width: 85px;
  padding: 0;
  margin: 10px 15px 10px 15px;
}
