/* Basic tools */
html body {
  background-color: #f3f0f0;
  font-family: "Montserrat", sans-serif;
}

header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 2rem;
  background-color: #e2dfdf;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.basic-button {
  background-color: #6fc5fe;
  border: none;
  border-radius: 8px;
  height: 3rem;
  width: 10rem;
  color: white;
}
.check {
  background-color: blue;
}

#threeD {
  height: 10%;
}

#id-check {
  background-color: pink;
}
.vertical-center {
  margin-top: 7.5%;
}

.horizontal-center {
  margin: 0 auto;
  width: 50%;
}

/* Navbar */
#navbar-spacer {
  margin-top: 100px;
}
.jamesn-icon {
  width: 80px;
  height: 80px;
  opacity: 95%;
}

.jamesn-icon:hover {
  opacity: 100%;
}

.navbar-item {
  color: #7a7a7a;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
}

.navbar-item:hover {
  color: black;
  opacity: 100%;
}

/* About */
.container-bg {
  background-color: #f3f0f0;
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40);
  opacity: 100%;
}

#tool-box {
  height: 85px;
  background-color: #6fc5fe;
  border-radius: 8px;
  max-width: 85px;
  padding: 0;
  margin: 10px 15px 10px 15px;
}

#build-button {
  opacity: 90%;
}

#build-button:hover {
  opacity: 100%;
}

/* Experience */
.experience-blocks {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.experience-logo {
  border-radius: 15px;
  height: 150px;
}

.experience-text {
  text-align: center;
  width: 273px;
  font-size: 1rem;
}

.experience-subtext {
  text-align: center;
  font-size: 0.9rem;
  width: 273px;
}

#oit {
  opacity: 95%;
}

#oit:hover {
  opacity: 100%;
}

#mlb {
  opacity: 95%;
}

#mlb:hover {
  opacity: 100%;
}

.project {
  padding-bottom: 25px;
  margin: 0;
  opacity: 95%;
}

.project:hover {
  opacity: 100%;
}
@media (max-width: 850px) {
  .horizontal-center {
    margin: 0 auto;
    width: 50%;
  }
}
